/* cyrillic-ext */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggqxSuXd.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggOxSuXd.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggSxSuXd.woff2) format('woff2');
    unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggixSuXd.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggmxSuXd.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggexSg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggqxSuXd.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggOxSuXd.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggSxSuXd.woff2) format('woff2');
    unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggixSuXd.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggmxSuXd.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggexSg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggqxSuXd.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggOxSuXd.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggSxSuXd.woff2) format('woff2');
    unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggixSuXd.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggmxSuXd.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggexSg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggqxSuXd.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggOxSuXd.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggSxSuXd.woff2) format('woff2');
    unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggixSuXd.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggmxSuXd.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggexSg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', Sans-Serif;
    background-color: #f8f8f8;
    color: #000;
    line-height: 1.5;
    padding: 20px;
}

.cart {
    max-width: 1000px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-title {
    font-size: 24px;
    
}

.clear-cart {
  display: flex; /* Сделаем элемент строчно-блочным */
  justify-content: flex-end; /* Выравнивание по правому краю */
  align-items: center; /* Выравнивание по центру по вертикали (если нужно) */
  font-size: 14px;
  color: #999;
  text-decoration: none;
  cursor: pointer;
  text-align: right;
  padding: 5px 10px; /* Устанавливаем отступы для нормального клика */
  margin-bottom: 15px; /* Отступ между заголовками и содержимым */
  width: auto; /* Ширина контейнера под контент (по умолчанию) */
  max-width: 140px; /* Максимальная ширина, чтобы уменьшить область */
  margin-left: auto; /* Отталкивает контейнер вправо */
}



.cart-item {
    display: flex;
    align-items: center;
    padding: 15px 0;
    
}

.item-image img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 4px;
}

.item-details {
    flex: 2;
    margin-left: 10px;
}

.item-details h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

.item-details p {
    font-size: 14px;
    color: #666;
}

.item-price {
    flex: 1;
    text-align: center;
}

.item-price p {
  font-weight: bold;
  margin-bottom: 5px;
}

.old-price {
    text-decoration: line-through;
    color: #999;
    font-size: 14px;
}

button.quantity-btn { /*с кнопками + -*/
  all: unset; /* Сбрасывает все стили */
  cursor: pointer; /* Добавляет указатель на кнопку */
  padding: 0 20px; /* Добавляет отступы внутри кнопки */
  font-size: 18px; /* Размер текста кнопки */
  text-align: center; /* Выравнивание текста */
  
}

/*button.quantity-btn:hover {
  color: #007BFF; Изменение цвета текста при наведении 
}*/

/*
.quantity-btn {
    width: 30px;
    height: 30px;
    font-size: 16px;
    border: none;
    background: #e5e5e5;
    cursor: pointer;
    color: #000;
}
*/
.item-quantity .value-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.item-quantity .value {
  font-size: 16px;
  text-align: right;
  width: 40px; /* Ширина для числа */
}

.item-quantity .unit {
  font-size: 14px;
  margin-left: 2px; /* Расстояние между числом и текстом */
  color: #666;
}
.item-packs .unit{
  font-size: 14px;
  margin-left: 2px; /* Расстояние между числом и текстом */
  color: #666;
}
.item-quantity input { /*плюсы минусы стали двигаться*/
    width: 60px;
    font-weight: bold;
    text-align: center;
    margin: 0 5px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
}

.item-total { /*для итоговой цены определенного товара*/
  font-weight: bold;
  font-size: 25px;
    flex: 1;
    text-align: center;

}

.remove-item {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #999;
}
.cart-summary {
    position: relative; /* Для позиционирования кнопки */
    
}

.summary-row {
    display: flex;
    justify-content: space-between; /* Слово "Итого:" слева, цена справа */
   font-size: 2.375rem ;
    flex-direction: row;
}

.total-label {
    font-size: 20px;
    font-weight: bold;
    margin-right: 50;
}

.total-price { /*общая цена*/

    font-size: 20px;
    font-weight: bold;
    font-weight: bold;
    color: #333;
}

.delivery-note {
    font-size: 12px;
    color: #666;
    margin-bottom: 15px;
    
}

.checkout-btn {
    width: auto;
    bottom: 100px; /* Отступ от нижней части */
    right: 2px; /* Отступ от правой части */
    background: #000;
    color: #fff;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 30px; /* Закругление углов кнопки */
    cursor: pointer;
}

.checkout-btn:hover {
    background: #444;
}
.cart-summary-wrapper{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

/* Стили для рамки вокруг кнопок + и - */
.item-quantity,
.item-packs {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ddd; /* Цвет рамки */
    border-radius: 6px; /* Скругление углов */
    padding: 5px; /* Внутренний отступ */
    max-width: 180px; /* Ограничение ширины */
}

.item-quantity input,
.item-packs input {
    border: none;
    font-weight: bold;
    text-align: center;
    width: 50px; /* Ширина поля */
    font-size: 16px; /* Размер текста */
    background-color: transparent; /* Убираем фон */
    outline: none; /* Убираем фокусную рамку */
    color: #333; /* Цвет текста */
    font-family: 'Manrope', sans-serif;
}

.quantity-btn {
    border: none;
    background-color: #f0f0f0; /* Фон кнопки */
    padding: 5px 10px;
    font-size: 18px; /* Размер символа */
    font-weight: bold;
    color: #333; /* Цвет текста */
    cursor: pointer;
    border-radius: 4px; /* Скругление углов кнопок */
    transition: all 0.3s ease; /* Анимация при наведении */
}

.quantity-btn:hover {
    background-color: #e0e0e0; /* Изменение фона при наведении */
}

.quantity-btn:active {
    background-color: #d0d0d0; /* Фон при нажатии */
}



.item-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Расстояние между кнопками */
}

/*
.item-controls {
  display: flex;
  flex-direction: column;
  gap: 10px; 
}
*/
/* 
.item-quantity, .item-packs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.quantity-btn {
  width: 36px;
  height: 36px;
  border-radius: 0.3125rem;
  background-color: #f7f7f7;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: #333;
  font-size: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.quantity-btn:hover {
  background-color: #ddd;
}

input[disabled] {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.3125rem;
  background-color: #f9f9f9;
  text-align: center;
  font-size: 1rem;
  flex: 1;
  height: 100%;
  margin: 0 5px;
  padding: 0;
} */
/* Стили для контейнера заголовков таблицы */
.table-cart__header {
  display: grid; /* Используем grid для гибкости */
  grid-template-columns: 1fr 1fr 1fr 1fr; /* Задаем 4 колонки равной ширины */
  gap: 90px; /* Отступ между колонками */
  font-size: 14px;
  margin-bottom: 15px;
}

.table-cart__header .table-cart__item-product-info {
  
  justify-self: start; /* Выровнять по левому краю */
  text-align: left; /* Выравнивание текста по левому краю */
}

.table-cart__header .table-cart__item-square-price {
  margin-left: 250px;
  justify-self: center; /* Выровнять по центру */
  text-align: center; /* Выравнивание текста по центру */
}

.table-cart__header .table-cart__item-calc {
 /* margin-left: 30px;*/
  justify-self: left; /* Выровнять по центру */
  text-align: center; /* Выравнивание текста по центру */
}

.table-cart__header .table-cart__item-total {
 /* margin-right: 20px;*/
  justify-self: left; /* Выровнять по правому краю */
  text-align: right; /* Выравнивание текста по правому краю */
}
 



@media (max-width: 430px) {

  .table-cart__header {
    display: none;
  }
  .clear-cart {
    
    justify-content: flex-end;
    font-size: 14px;
    color: #999;
    text-decoration: none;
    cursor: pointer;
   /* margin-left: 820px; /* Сдвигаем элемент вправо */
    text-align: right; /* Выравнивание текста */
    padding: 5px 10px; /* Устанавливаем отступы для нормального клика */
    
}
.item-quantity::after {
  content: "="; /* Добавляем знак = */
  display: inline-block;
 
  
  font-size: 12px; /* Размер знака */
  color: #333; /* Цвет знака */
  position: relative;
}
.item-quantity, .item-packs{
  display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ddd;
    border-radius: 6px;
    padding: 5px;
    max-width: 165px;
}

  body {
      padding: 20px; /* Уменьшаем отступы для удобства */
  }

  .cart {
      max-width: 90%; /* Растягиваем корзину на весь экран */
      padding: 10px; /* Уменьшаем внутренние отступы */
      box-shadow: none; /* Убираем лишние тени для простоты */
  }
  .cart-title {
    font-size: 24px;
    
}
.cart-item {
  display: flex;
  flex-wrap: wrap; /* Разрешить перенос элементов на новую строку */
  gap: 10px; /* Расстояние между элементами */
  
  padding: 5px;
}
.cart-item .item-image {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 
}

.cart-item .item-image img {
  max-width: 100%; /* Сделать изображение адаптивным */
  height: auto;
}
.item-details h3 {
  font-size: 16px;
  margin-bottom: 5px;
  text-align: justify; /* Выравнивание текста по ширине */
}

/*сделать отдельно*/



.cart-item .remove-item {
  font-size: 31px;
  display: flex;
  justify-content: right; /* Выравнивание элементов по центру */
  align-items: right;
  text-align: right;
  
}
.cart-item .item-total{
  display: flex;
  justify-content: left; /* Выравнивание элементов по центру */
}
.cart-item .item-price{
  flex: 1 1 100%; /* Все остальные элементы занимают всю строку */
  display: flex;
  justify-content: left; /* Выравнивание элементов по центру */
  margin-bottom: 10px;
}
.cart-item .item-controls {
  display: flex;
  flex-direction: row;
  align-items: center; /* Выравнивание по вертикали */
  justify-content: center; /* Центрирование содержимого по горизонтали */
  gap: 10px; /* Расстояние между кнопками */
  max-width: 100%; /* Запрещаем вылезать за пределы контейнера */
  box-sizing: border-box; /* Учитываем отступы и границы в общей ширине */
  
}
/* Упорядочиваем элементы */
.cart-item .item-image {
  order: 1; /* Первыми отображаются изображения */
}

.cart-item .item-details {
   
  order: 2; /* Затем детали */
}

.cart-item .item-price {
  order: 3; /* Цена идет на новой строке */
}

.cart-item .item-controls {
  order: 4; /* Управление количеством ниже */
}

.cart-item .item-total {
  order: 5; /* Итоговая сумма */
}

.cart-item .remove-item {
  order: 2; /* Кнопка удаления в самом низу */
}
.delivery-note {
  font-size: 12px;
  color: #666;
  margin-bottom: 15px;
  
    font-size: 12px;
    color: #666;
    margin-bottom: 15px;
    max-width: 150px; /* Устанавливаем максимальную ширину блока */
    line-height: 1.5; /* Делаем строки более читаемыми */
    word-wrap: break-word; /* Разрешаем перенос слов, если они слишком длинные */
    text-align: left; /* Текст выравнивается по левому краю */
    
    
   

}
.summary-row {
  display: flex;
  flex-direction: row;
  text-align: start; /* Центрируем текст */
  font-size: 1rem; /* Уменьшаем общий размер текста */
  gap: 9.3rem; /* Добавляем отступы между строками */
  margin-bottom: 10px;
  position: relative;
  white-space: nowrap; /* Запрещаем перенос текста */
}

.total-price {
  text-align: end; /* Центрируем текст */
  font-size: 18px; /* Выделяем текст суммы */
  margin-right: 10px;
  white-space: nowrap; /* Запрещаем перенос текста на новую строку */
  min-width: 100px; /* Устанавливаем минимальную ширину для предотвращения сдвига */
  
}

  .checkout-btn {
      width: 100%; /* Кнопка на всю ширину */
      font-size: 1rem;
      padding: 10px;
      
      justify-content: center;
      text-align: center;
      background-color: #000;
      color: #fff;
  }

  .checkout-btn:hover {
      background-color: #444; /* Легкое изменение фона при наведении */
  }
}




@media (max-width: 390px){

  .table-cart__header {
    display: none;
  }
  .clear-cart {
    
    justify-content: flex-end;
    font-size: 14px;
    color: #999;
    text-decoration: none;
    cursor: pointer;
   /* margin-left: 820px; /* Сдвигаем элемент вправо */
    text-align: right; /* Выравнивание текста */
    padding: 5px 10px; /* Устанавливаем отступы для нормального клика */
    
}
.item-quantity::after {
  content: "="; /* Добавляем знак = */
  display: inline-block;
 
  font-size: 12px; /* Размер знака */
  color: #333; /* Цвет знака */
  position: relative;
}
.item-quantity, .item-packs{
  display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ddd;
    border-radius: 6px;
    padding: 5px;
    max-width: 145px;
}
button.quantity-btn {
  all: unset;
  /* cursor: pointer; */
  padding: 0 15px;
  font-size: 18px;
  text-align: center;
}
  body {
      padding: 20px; /* Уменьшаем отступы для удобства */
  }

  .cart {
      max-width: 90%; /* Растягиваем корзину на весь экран */
      padding: 10px; /* Уменьшаем внутренние отступы */
      box-shadow: none; /* Убираем лишние тени для простоты */
  }
  .cart-title {
    font-size: 24px;
    
}
.cart-item {
  display: flex;
  flex-wrap: wrap; /* Разрешить перенос элементов на новую строку */
  gap: 10px; /* Расстояние между элементами */
  
  padding: 5px;
}
.cart-item .item-image {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 
}

.cart-item .item-image img {
  max-width: 100%; /* Сделать изображение адаптивным */
  height: auto;
}
.item-details h3 {
  font-size: 16px;
  margin-bottom: 5px;
  text-align: justify; /* Выравнивание текста по ширине */
}

/*сделать отдельно*/



.cart-item .remove-item {
  font-size: 31px;
  display: flex;
  justify-content: right; /* Выравнивание элементов по центру */
  align-items: right;
  text-align: right;
  
}
.cart-item .item-total{
  display: flex;
  justify-content: left; /* Выравнивание элементов по центру */
}
.cart-item .item-price{
  flex: 1 1 100%; /* Все остальные элементы занимают всю строку */
  display: flex;
  justify-content: left; /* Выравнивание элементов по центру */
  margin-bottom: 10px;
}
.cart-item .item-controls {
  display: flex;
  flex-direction: row;
  align-items: center; /* Выравнивание по вертикали */
  justify-content: center; /* Центрирование содержимого по горизонтали */
  gap: 10px; /* Расстояние между кнопками */
  max-width: 100%; /* Запрещаем вылезать за пределы контейнера */
  box-sizing: border-box; /* Учитываем отступы и границы в общей ширине */
  
}
/* Упорядочиваем элементы */
.cart-item .item-image {
  order: 1; /* Первыми отображаются изображения */
}

.cart-item .item-details {
   
  order: 2; /* Затем детали */
}

.cart-item .item-price {
  order: 3; /* Цена идет на новой строке */
}

.cart-item .item-controls {
  order: 4; /* Управление количеством ниже */
}

.cart-item .item-total {
  order: 5; /* Итоговая сумма */
}

.cart-item .remove-item {
  order: 2; /* Кнопка удаления в самом низу */
}
.delivery-note {
  font-size: 12px;
  color: #666;
  margin-bottom: 15px;
  
    font-size: 12px;
    color: #666;
    margin-bottom: 15px;
    max-width: 150px; /* Устанавливаем максимальную ширину блока */
    line-height: 1.5; /* Делаем строки более читаемыми */
    word-wrap: break-word; /* Разрешаем перенос слов, если они слишком длинные */
    text-align: left; /* Текст выравнивается по левому краю */
    
    
   

}
.summary-row {
  display: flex;
  flex-direction: row;
  text-align: start; /* Центрируем текст */
  font-size: 1rem; /* Уменьшаем общий размер текста */
  gap: 7rem; /* Добавляем отступы между строками */
  margin-bottom: 10px;
  position: relative;
  white-space: nowrap; /* Запрещаем перенос текста */
}

.total-price {
  text-align: end; /* Центрируем текст */
  font-size: 18px; /* Выделяем текст суммы */
  margin-right: 10px;
  white-space: nowrap; /* Запрещаем перенос текста на новую строку */
  min-width: 100px; /* Устанавливаем минимальную ширину для предотвращения сдвига */
  
}

  .checkout-btn {
      width: 100%; /* Кнопка на всю ширину */
      font-size: 1rem;
      padding: 10px;
      
      justify-content: center;
      text-align: center;
      background-color: #000;
      color: #fff;
  }

  .checkout-btn:hover {
      background-color: #444; /* Легкое изменение фона при наведении */
  }
}