/* cyrillic-ext */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggqxSuXd.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggOxSuXd.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggSxSuXd.woff2) format('woff2');
    unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}

/* vietnamese */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggixSuXd.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggmxSuXd.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggexSg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggqxSuXd.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggOxSuXd.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggSxSuXd.woff2) format('woff2');
    unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}

/* vietnamese */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggixSuXd.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggmxSuXd.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggexSg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggqxSuXd.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggOxSuXd.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggSxSuXd.woff2) format('woff2');
    unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}

/* vietnamese */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggixSuXd.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggmxSuXd.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggexSg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggqxSuXd.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggOxSuXd.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggSxSuXd.woff2) format('woff2');
    unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}

/* vietnamese */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggixSuXd.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggmxSuXd.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggexSg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Manrope', Sans-Serif;
    color: #000;
    line-height: 1.5;
}
.modal.no-scroll {
    overflow: hidden;
}
.cart {
    margin: 0 auto;
    padding: 20px;
}
.success-message {
    position: fixed;
    top: 20px; /* Отступ сверху */
    right: 20px; /* Отступ справа */
    background-color: #d4edda;
    color: #155724;
    padding: 15px 20px;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Поверх всех элементов */
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px; /* Расстояние между иконкой и текстом */
}

.success-message i {
    font-size: 18px; /* Размер иконки */
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
/* Стили для затемнения фона */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
    overflow: auto; /* Позволяет прокручивать содержимое, если оно большое */
}

/* Контейнер для содержимого модального окна */
.modal-content {
    position: relative;
    background-color: #fff; /* Белый фон */
    margin: 3% auto; /* Центровка по вертикали и горизонтали */
    padding: 20px; /* Отступы внутри окна */
    border-radius: 8px; /* Скругленные углы */
    width: 50%; /* Ширина окна */
    max-width: 600px; /* Максимальная ширина */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Тень */
    animation: fadeIn 0.3s ease-in-out; /* Плавное появление */
}

/* Анимация появления окна */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Кнопка закрытия */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #aaa; /* Серый цвет */
    font-size: 24px; /* Размер */
    font-weight: bold; /* Жирный текст */
    cursor: pointer; /* Указатель мыши */
    transition: color 0.2s; /* Плавный переход цвета */
}

.close:hover,
.close:focus {
    color: #000; /* Черный при наведении */
}

/* Стили для формы */
.modal-content form {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Расстояние между полями */
    padding-top: 20px;
}

.modal-content label {
    font-weight: bold; /* Жирный текст */
    color: #333; /* Темно-серый цвет */
}

.modal-content input,
.modal-content textarea,
.modal-content button {
    padding: 10px; /* Внутренние отступы */
    border: 1px solid #ccc; /* Серые границы */
    border-radius: 5px; /* Скругленные углы */
    font-size: 16px; /* Размер текста */
}

.modal-content input:focus,
.modal-content textarea:focus {
    border-color: #007BFF; /* Синий цвет при фокусе */
    outline: none; /* Убираем обводку */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Тень при фокусе */
}

.modal-content button {
    background-color: #007BFF; /* Синий фон */
    color: #fff; /* Белый текст */
    border: none; /* Без границ */
    cursor: pointer; /* Указатель мыши */
    transition: background-color 0.3s; /* Плавный переход цвета */
}

.modal-content button:hover {
    background-color: #0056b3; /* Более темный синий при наведении */
}

.cart-title {
    font-size: 24px;
    font-weight: 500;
}

.clear-cart {
    font-size: 14px;
    color: #999;
    text-decoration: none;
    cursor: pointer;
    text-align: right;
}

.cart-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.item-image-details {
    display: flex;
    margin-bottom: 1rem;
}

.item-image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.item-details {
    flex: 2;
    margin-left: 10px;
    max-width: 500px;
}

.item-details h3 {
    line-height: 22px;
    font-size: 17px;
    margin-bottom: 0.5rem;
}

.item-details p {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 1rem;
}

.sec-color {
    color: #0000004D;
}

.line-through {
    text-decoration: line-through;
}

.item-price {
    margin-bottom: 1.5rem;
}

.item-price p {
    font-weight: 500;
}

.old-price {
    text-decoration: line-through;
    color: #999;
    font-size: 14px;
}

/*button.quantity-btn:hover {
  color: #007BFF; Изменение цвета текста при наведении 
}*/

/*
.quantity-btn {
    width: 30px;
    height: 30px;
    font-size: 16px;
    border: none;
    background: #e5e5e5;
    cursor: pointer;
    color: #000;
}
*/
.item-quantity .value-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.item-quantity .value {
    font-size: 16px;
    text-align: right;
    width: 40px; /* Ширина для числа */
}

.item-quantity .unit {
    font-size: 14px;
    margin-left: 2px; /* Расстояние между числом и текстом */
    color: #666;
}

.item-packs .unit {
    font-size: 14px;
    margin-left: 2px; /* Расстояние между числом и текстом */
    color: #666;
}

.item-quantity input { /*плюсы минусы стали двигаться*/
    width: 60px;
    font-weight: bold;
    text-align: center;
    margin: 0 5px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
}

.item-total { /*для итоговой цены определенного товара*/
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 500;
    font-size: 23px;
}

.item-total span {
    font-size: 17px;
}

.item-total .sale {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background: #E0FB52;
    border-radius: 100%;
    font-size: 14px;
}

.remove-item {
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color: #999;
}

.summary-row {
    display: flex;
    justify-content: space-between; /* Слово "Итого:" слева, цена справа */
    font-size: 2.375rem;
    flex-direction: row;
}

.total-label {
    font-size: 23px;
    font-weight: 500;
}

.total-price { /*общая цена*/
    font-size: 23px;
    font-weight: 500;
}

.delivery-note {
    font-size: 14px;
    margin-bottom: 15px;
    max-width: 200px;
}

.checkout-btn {
    width: 100%;
    background: #000;
    color: #fff;
    padding: 12px 20px;
    font-size: 14px;
    border: none;
    border-radius: 50px; /* Закругление углов кнопки */
    cursor: pointer;
    font-weight: 400;
    line-height: 21px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.checkout-btn:hover {
    background: #444;
}

.cart-summary-wrapper {
    display: flex;
    flex-direction: column;
}

/* Стили для рамки вокруг кнопок + и - */
.item-quantity,
.item-packs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #ddd; /* Цвет рамки */
    border-radius: 6px; /* Скругление углов */
    width: 100%;
}

.item-quantity input,
.item-packs input {
    border: none;
    font-weight: bold;
    text-align: center;
    width: 100%; /* Ширина поля */
    font-size: 16px; /* Размер текста */
    background-color: transparent; /* Убираем фон */
    outline: none; /* Убираем фокусную рамку */
    color: #333; /* Цвет текста */
    font-family: 'Manrope', sans-serif;
}

.quantity-btn {
    border: none;
    background-color: transparent; /* Фон кнопки */
    padding: 10px 16px;
    font-size: 18px; /* Размер символа */
    font-weight: bold;
    color: #333; /* Цвет текста */
    cursor: pointer;
    border-radius: 4px; /* Скругление углов кнопок */
    transition: all 0.3s ease; /* Анимация при наведении */
}

.quantity-btn:hover {
    background-color: #e0e0e0; /* Изменение фона при наведении */
}

.quantity-btn:active {
    background-color: #d0d0d0; /* Фон при нажатии */
}


.item-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.5rem;
    gap: 10px;
}

/*
.item-controls {
  display: flex;
  flex-direction: column;
  gap: 10px; 
}
*/
/* 
.item-quantity, .item-packs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.quantity-btn {
  width: 36px;
  height: 36px;
  border-radius: 0.3125rem;
  background-color: #f7f7f7;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: #333;
  font-size: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.quantity-btn:hover {
  background-color: #ddd;
}

input[disabled] {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.3125rem;
  background-color: #f9f9f9;
  text-align: center;
  font-size: 1rem;
  flex: 1;
  height: 100%;
  margin: 0 5px;
  padding: 0;
} */
/* Стили для контейнера заголовков таблицы */
.table-cart__header {
    display: none;
}

.table-cart__header .table-cart__item-product-info {
    width: 47%;
    text-align: left;
}

.table-cart__header .table-cart__item-square-price {
    width: 18%;
}

.table-cart__header .table-cart__item-calc {
    width: 40%;
}

.admin-button{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.admin-button button{
    border: 4px rgb(81, 162, 255) solid;
    background-color: white;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 15px;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: row ;
    gap: 10px;
    justify-content: space-between;
}
.logout-link {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #ff5c5c;
    color: #fff;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none; 
    display: inline-block;
    transition: background-color 0.3s, transform 0.3s;
}

.logout-link:hover {
    background-color: #e53e3e; 
    transform: scale(1.05); 
}

.logout-link:active {
    background-color: #c0392b; 
}
.admin-button .deleteButton{
    border: 4px rgb(255, 89, 89) solid;
}
.admin-button .deleteButton svg{
    fill:rgb(255, 89, 89);
}
.admin-button button svg{
    width: 20px;
    height: 20px;
    fill: rgb(81, 162, 255);
}
.admin-button button:hover{
    transform: scale(1.010);
}
.table-cart__header .table-cart__item-total {
    width: 39%;
}

.table-cart__item-remove{
    width: 25px;
}

.table-cart__item-calctable-cart__item-total{
    width: 40%;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.remove-item2 {
    display: none;
}




@media (min-width: 576px) {
    .item-image img {
        width: 150px;
        height: 150px;
    }

    .item-price {
        margin: 1rem 0 0 0
    }

    .item-details h3 {
        line-height: 31px;
        font-size: 24px;
    }

    .total-label, .total-price {
        font-size: 30px;
    }

    .delivery-note, .checkout-btn {
        font-size: 20px;
    }

    .checkout-btn{
        padding: 18px;
    }

    .item-details p {
        font-size: 20px;
        margin-bottom: 0;
    }

    .item-controlsitem-total{
        gap: 3rem;
    }

    .item-price p {
        font-size: 24px;
    }

    .item-controls {
        margin: 0;
        gap: 1rem;
    }

    .item-total {
        align-items: start;
    }

    .cart-summary-wrapper {
        width: 400px;
        float: right;
    }

    .sm\:align-items-center {
        align-items: center !important;
    }

    .sm\:gap-0 {
        gap: 0rem !important;
    }


    .item-quantity,
    .item-packs {
        width: 200px;
    }
}

@media (min-width: 1200px) {
    body {
        margin: 20px;
    }
    .admin-button {
        display: flex;
        flex-direction: row;
        gap: 15px;
        padding-top: 15px;
    }
    .item-price p {
        font-size: 30px;
    }

    .cart-title {
        font-size: 46px;
    }

    .item-total {
        font-size: 38px;
    }

    .cart-summary-wrapper {
        width: 500px;
    }

    .item-details h3 {
        line-height: 34px;
        font-size: 26px;
        margin-bottom: 24px;
    }

    .item-details p {
        font-size: 21px;
        line-height: 31px;
        margin-bottom: 0;
    }

    .item-total span{
        font-size: 30px;
    }

    .item-image img {
        width: 167px;
        height: 167px;
    }

    .item-image-details {
        margin-bottom: 0;
        width: 52%;
    }

    .clear-cart{
        font-size: 21px;
    }

    .item-price {
        width: 23%;
    }

    .total-label, .total-price {
        font-size: 38px;
    }


    .item-controlsitem-total{
        width: 40%;
    }

    .item-controls {
        width: 40%;
    }

    .item-total {
        width: 40%;
    }

    .item-controls {
        align-items: start;
    }

    .item-quantity input, .item-packs input {
        font-size: 21px;
    }
    /*.cart {*/
    /*    border-radius: 8px;*/
    /*    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
    /*}*/

    .item-image-details .remove-item {
        display: none;
    }

    .title {
        align-items: stretch;
        flex-direction: column;
    }

    .xl\:hidden {
        display: none !important;
    }

    .xl\:gap-5 {
        gap: 2rem;
    }

    .xl\:align-items-start {
        align-items: start !important;
    }

    .cart-item {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .table-cart__header {
        display: flex; /* Используем grid для гибкости */
        gap: 0rem; /* Отступ между колонками */
        font-size: 21px;
        margin-bottom: 35px;
       
    } 
    .item-total {
        font-size: 34px;
    }
    .item-quantity, .item-packs {
        width: 150px;
    }
}

@media (min-width: 1400px) {
    .item-total {
        font-size: 38px;
    }
    .item-quantity, .item-packs {
        width: 200px;
    }
}
.hidden {
    display: none !important;
}

.block {
    display: block !important;
}

.inline {
    display: inline !important;
}

.inline-block {
    display: inline-block !important;
}

.flex {
    display: flex !important;
}

.inline-flex {
    display: inline-flex !important;
}

@media screen and (min-width: 576px) {
    .sm\:hidden {
        display: none !important;
    }

    .sm\:block {
        display: block !important;
    }

    .sm\:inline {
        display: inline !important;
    }

    .sm\:inline-block {
        display: inline-block !important;
    }

    .sm\:flex {
        display: flex !important;
    }

    .sm\:inline-flex {
        display: inline-flex !important;
    }
}

@media screen and (min-width: 768px) {
    .md\:hidden {
        display: none !important;
    }

    .md\:block {
        display: block !important;
    }

    .md\:inline {
        display: inline !important;
    }

    .md\:inline-block {
        display: inline-block !important;
    }

    .md\:flex {
        display: flex !important;
    }

    .md\:inline-flex {
        display: inline-flex !important;
    }
}

@media screen and (min-width: 992px) {
    .lg\:hidden {
        display: none !important;
    }

    .lg\:block {
        display: block !important;
    }

    .lg\:inline {
        display: inline !important;
    }

    .lg\:inline-block {
        display: inline-block !important;
    }

    .lg\:flex {
        display: flex !important;
    }

    .lg\:inline-flex {
        display: inline-flex !important;
    }
}

@media screen and (min-width: 1200px) {
    .xl\:hidden {
        display: none !important;
    }
    .admin-button {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }
    .xl\:block {
        display: block !important;
    }

    .xl\:inline {
        display: inline !important;
    }

    .xl\:inline-block {
        display: inline-block !important;
    }

    .xl\:flex {
        display: flex !important;
    }

    .xl\:inline-flex {
        display: inline-flex !important;
    }
}

.gap-0 {
    gap: 0rem !important;
}

.gap-1 {
    gap: 0.25rem !important;
}

.gap-2 {
    gap: 0.5rem !important;
}

.gap-3 {
    gap: 1rem !important;
}

.gap-4 {
    gap: 1.5rem !important;
}

.gap-5 {
    gap: 3rem !important;
}

.gap-6 {
    gap: 3rem !important;
}

.gap-7 {
    gap: 4rem !important;
}

.gap-8 {
    gap: 5rem !important;
}

.align-items-center {
    align-items: center !important;
}

.flex-row {
    flex-direction: row !important;
}

.flex-row-reverse {
    flex-direction: row-reverse !important;
}

.flex-column {
    flex-direction: column !important;
}

.flex-column-reverse {
    flex-direction: column-reverse !important;
}

@media screen and (min-width: 576px) {
    .sm\:flex-row {
        flex-direction: row !important;
    }

    .sm\:flex-row-reverse {
        flex-direction: row-reverse !important;
    }

    .sm\:flex-column {
        flex-direction: column !important;
    }

    .sm\:flex-column-reverse {
        flex-direction: column-reverse !important;
    }
}

@media screen and (min-width: 768px) {
    .md\:flex-row {
        flex-direction: row !important;
    }

    .md\:flex-row-reverse {
        flex-direction: row-reverse !important;
    }

    .md\:flex-column {
        flex-direction: column !important;
    }

    .md\:flex-column-reverse {
        flex-direction: column-reverse !important;
    }
}

@media screen and (min-width: 992px) {
    .lg\:flex-row {
        flex-direction: row !important;
    }

    .lg\:flex-row-reverse {
        flex-direction: row-reverse !important;
    }

    .lg\:flex-column {
        flex-direction: column !important;
    }

    .lg\:flex-column-reverse {
        flex-direction: column-reverse !important;
    }
}

@media screen and (min-width: 1200px) {
    .xl\:flex-row {
        flex-direction: row !important;
    }

    .xl\:flex-row-reverse {
        flex-direction: row-reverse !important;
    }

    .xl\:flex-column {
        flex-direction: column !important;
    }

    .xl\:flex-column-reverse {
        flex-direction: column-reverse !important;
    }
    .admin-button {
        display: flex
    ;
        flex-direction: row;
        gap: 15px;
    }
}
